-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= link_to 'Add new movie', new_movie_path
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]" , 1, @checked.key?(rating)  
  = submit_tag 'Refresh' 
  
  
%table#movies
  %thead
    %tr
      %th{:class=>("hilite" if @sorted == 'title' )}= link_to 'Movie Title' , movies_path(:alphabetical_order=>'title'), :id=>'title_header'
      %th Rating
      %th{:class=>("hilite" if @sorted == 'release_date' )}= link_to 'Release' , movies_path(:alphabetical_order=>'release_date'), :id=>'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

